h1 {
    color:maroon;
}

#container {
	width: 1200px;
	background: White;
	text-align: left;
	margin: 0 auto;
}
	
#content {
 	padding: 30px 30px 50px 30px;
 	width: 350px;
 	height: 500px;
 	float: left;
 	margin: 5px; 
 	border: 1px solid #002E5C;
 	text-align: left;
}

.responsive-image {  
	width: 100%;
	max-width: 400px;
	height: auto;
	} 

div.centered {
    text-align: center;
}

#map {
	height: 400px; 
	/* The height is 400 pixels */
	width: 100%;
	/* The width is the width of the web page */
  }



