/* Add padding to columns. */
#column
{
    padding:30px;
}

/* Place everything in containers in the center. */
.container 
{
    display: flex;
    justify-content: center;
}

/* Adjust the headshot. */
.responsive 
{
	width: 100%;
	height: auto;
}

/* Arrange social media icons in the footer. */
#social 
{
	display: inline-block;
	text-align: center;
}

/* Add opacity effect when the user hovers over links. */
a:hover 
{
	opacity: 0.7;
}

/* Create a sticky footer with the three blocks below. */

#page-container 
{
	position: relative;
	min-height: 90vh;
}
  
#content-wrap 
{
	padding-bottom: 1rem;    
}
  
.footer 
{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1rem;            
	border-top-width: 5px;
    border-top-style: solid;
    border-top-color: rgb(2,40,81);
}

/* Center the statement with link to CV. */
#CVnote
{
	text-align: center;
	padding-top: 20px;
}

#TeachingNote
{
	text-align: center;
	padding-top: 20px;
	border-bottom-width: 5px;
    border-bottom-style: solid;
	border-bottom-color: rgb(2,40,81);
}

/* Make sure the "year" column does not change width. */
#year
{
	width: 10px;
}

/* Add borders around table rows. */
td, th
{
	padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

.center {
	border: 5px solid rgb(2,40,81);
	text-align: center;
	}